<h1>Ecomerce Tech</h1>
<div class="homeCards">

    {{#each products}}
    <div class="cardProducts">
        <img src="{{this.thumbnails}}" alt="">
        <h3>Titulo: {{this.title}}</h3>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoria: {{this.category}}</p>
    </div>
    {{/each}}

</div>



<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"
    integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg"
    crossorigin="anonymous"></script>
<script src="js/index.js"></script>